@import '../vars';

.component-updates-page {
    .cards-container {
        margin-bottom: 2rem;

        @media screen and (min-width: $small-tablet-breakpoint) {
            display: flex;
            flex-wrap: wrap;
        }
    }
}
