@import "../../styles/vars";

.component-update-card {
    box-sizing: border-box;
    margin-bottom: 1rem;
    height: auto;

    @media screen and (min-width: $small-tablet-breakpoint) {
        box-sizing: border-box;
        flex: 0 0 50%;
    }

    @media screen and (min-width: $mobile-breakpoint) {
        flex: 0 0 33.3%;
    }

    .card {
        height: 100%;

        @media screen and (min-width: $small-tablet-breakpoint) {
            margin: 0 0.5rem;
        }

        .card-body {
            display: flex;
            flex-direction: column;
        }

        .icon-bookmark-fill {
            margin-right: 1rem;
            margin-top: -0.1rem;
            align-self: flex-end;
        }

        .bookmark-placeholder {
            height: 2.3rem;
        }

        .read-more-link {
            margin-top: auto;
        }
    }
}
