// Basic Variables
$color-white: #ffffff;
$color-black: #000000;

$palettes: (
    red: (
        600: #c6002b,
        500: #cd212e,
        400: #e22c3a,
        300: #f4747c,
        200: #f79096,
        100: #f4adb1,
    ),
    orange: (
        600: #cc8838,
        500: #da994d,
        400: #edb574,
        300: #f2c086,
        200: #f7ca94,
        100: #f5d2a9,
    ),
    green: (
        600: #46815a,
        500: #62aa7b,
        400: #78d297,
        300: #8bdea7,
        200: #9ce2b4,
        100: #ace7c0,
    ),
    blue: (
        900: #0d47a1,
        800: #1565c0,
        700: #1976d2,
        600: #1e88e5,
        500: #2196f3,
        400: #42a5f5,
        300: #64b5f6,
        200: #90caf9,
        100: #bbdefb,
    ),
    light-blue: (
        900: #01579b,
        800: #0277bd,
        700: #0288d1,
        600: #039be5,
        500: #03a9f4,
        400: #29b6f6,
        300: #4fc3f7,
        200: #81d4fa,
        100: #b3e5fc,
    ),
    purple: (
        600: #5b34cc,
        500: #6b44da,
        400: #7d5ae0,
        300: #8b6ae9,
        200: #a488f3,
        100: #bba6f8,
    ),
    grey: (
        600: #27292d,
        500: #3f4447,
        400: #717277,
        300: #c5cdd2,
        200: #e6eaed,
        100: #f6f8f9,
    ),
);

$brand-yellow: #fdd007;

$small-tablet-breakpoint: 768px;
$mobile-breakpoint: 1060px;
