html, body {
	height: 100%;
	width: 100%;
}
body {
	font-family: 'Montserrat', sans-serif;
	color: black;
}
main {
	overflow-x: hidden;
}
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #fdd007, rgba(0, 0, 0, 0.75), #fdd007);
    width: 100%;
    height: 5px;
    margin: 0 0 20px 0;
}

.row {
	margin: 0!important;
}

/* HEADER */
.navbar {
	background-color: #f8f9fa;
}
#brand {
	font-size: 1rem;
}
.nav-item {
	margin: 0 5px 0 5px;
}
.navbar a {
	text-transform: uppercase;
	font-size: 0.83rem;
	align-items: center;
	text-align: center;
	vertical-align: middle;
	transition: all .2s ease;
}
#btn-contact-header {
	border: none;
	border-radius: 0;
	background-color: #fdd007;
}

/* Events */
.card-date {
	text-transform: capitalize;
}

/* FOOTER */
.page-footer {
	background-color: #f8f9fa;
	padding: 5rem 0 2.5rem;
	text-align: center;
	letter-spacing: 2px;
	color: black;
	width: 100%;
}
.page-footer i {
	color: black;
	letter-spacing: 5px;
}
.page-footer i:hover {
	color: rgb(222, 55, 0);
	transition: 0.4s;
}
#main-page-img {
	background-image: url("https://images.unsplash.com/photo-1498805983167-a523078d762c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=65c2c2fee586564dcd79cb249099d757&auto=format&fit=crop&w=2285&q=80");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 65vh;
	opacity: 0.9;
}
#contact-btn {
	border: none;
}
#contact-btn:hover {
	border: none;
	background-color: #fdd007;
}
#contact-btn .btn-outline-warning {
	border-radius: 0;
	border-color: #fdd007;
    background-color: #fdd007;
    color: #343a40;
    height: 45px;
    line-height: 2;
	letter-spacing: 1.5px;
}
.main-title {
	letter-spacing: 3px;
	text-transform: uppercase;
	color: #f8f9fa;
	font-weight: 700;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.2),
				 0px 8px 13px rgba(0,0,0,0.1);
}
.title {
	letter-spacing: 2px;
	font-size: 35px;
	padding: 40px 0 40px 0;
}
.blockquote-footer {
	font-size: 1.1rem;
	color: #b1a9a9;
}
/* PRAYING REQUEST */
#praying-request form {
	margin: 1.5rem;
	max-width: 500px;
}

/* CAROUSEL */
.carousel-caption {
    right: 0;
    left: auto;
    color: black;
    padding-right: 100px;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23444' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23444' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.carousel-indicators {
  bottom: -60px;
}
.carousel-indicators li {
  background-color: #999;
  background-color: rgba(70,70,70,.25);
}
.carousel-indicators .active {
  background-color: #444;
}

/* VISIT US*/
.visit {
    margin: 0 1.5rem 1.5rem 2rem;
    padding-bottom: 10px;
    font-size: 16px;
}
.visit strong {
    line-height: 1rem;
}
.visit ul {
	padding: 0;
	line-height: 1rem;
}
.visit td {
	padding: 5px 10px 5px 0;
}

/*
 * Contact us page
 */
#contactUs h2 {
	font-size: 18px;
}
#contact-title.main-title {
	background-image: url('https://images.unsplash.com/photo-1446776653964-20c1d3a81b06?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1bceff439c9fc8f529dd70504a29d8a5&auto=format&fit=crop&w=1051&q=80');
	padding-bottom: 100px;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.form-field {
	padding-bottom: 14px;
}
#contactUs td {
	padding: 7px;
}
.box {
	background: #f8f9fa;
	width: 30px;
	height: 30px;
	margin: 10px;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
}
.box:hover{
	transition: 0.6s;
	color: #f8f9fa;
}
.box a {
	color: inherit;
}
.box.facebook:hover {
	background-color: #3b5998;
}
.box.instagram:hover {
	background-color: #e1306c;
}
.box.youtube:hover {
	background-color: #ff0000;
}
.box.maps:hover {
	background-color: #1ea362;
}

/* CALENDAR PAGE */
#calendar iframe {
	height: 60vh;
	width: 70vw;
}

/* ABOUT PAGE */
#about-mission {
	color: white;
    background: url('https://images.unsplash.com/photo-1519643598672-d0b07eb496ca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1187&q=80') center bottom;
}
#mission-components .card {
	min-width: 250px;
	padding-bottom: 5%;
	margin: 0.5rem;
}
.blockquote-footer {
    font-style: italic;
}
.about-us > div {
	max-width: 74rem;
}
.about p{
	margin: 0 2rem 2rem;
}
.img-circle {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin-bottom: 2rem;
}
.name {
	font-size: 18px;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
.m-x-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}
.img-fluid, .media-object .media-figure img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*  GROUPS PAGE */
.img-groups {
	height: 259px;
}

/* PREACHING PAGE */
.video-container {
	width: 100%;
	height: 30vh;
	padding-bottom: 50px;
}
.playlist-container {
	width: 100%;
	height: 70vh;
	padding-bottom: 10px;
}

/* GALLERY */
.gallery {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
}
.gallery-img {
	width: 100%;
	vertical-align: middle;
	padding: 10px 5px 10px 5px;
}

/* Sermons page */
.sermons-page .media-buttons button {
	width: 100%;
	border: 1px solid;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
}

.sermons-page .media-buttons .row {
	height: 100%;
}

.embed-responsive {
	margin: 3.125rem 0;
}

.sermons-page .media-buttons .youtube {
	border-color: #f61c0d;
}

.sermons-page .media-buttons .sound-cloud {
	border-color: #ff7700;
}

.sermons-page .media-buttons .youtube:hover {
	transform: translateY(-7px);
}

.sermons-page .media-buttons .sound-cloud:hover {
	transform: translateY(-7px);
}




/*
 * animation
 * https://github.com/IanLunn/Hover/blob/master/css/hover.css
 */

 /* Wobble Vertical */
@-webkit-keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.hvr-wobble-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-wobble-vertical:hover, .hvr-wobble-vertical:focus, .hvr-wobble-vertical:active {
  -webkit-animation-name: hvr-wobble-vertical;
  animation-name: hvr-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
/* Icon Forward */
.hvr-icon-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.hvr-icon-forward .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-icon-forward:hover .hvr-icon, .hvr-icon-forward:focus .hvr-icon, .hvr-icon-forward:active .hvr-icon {
  -webkit-transform: translateX(4px);
  transform: translateX(4px);
}
/* Overline From Center */
.hvr-overline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-overline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  top: 0;
  background: #fdd007;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-overline-from-center:hover:before, .hvr-overline-from-center:focus:before, .hvr-overline-from-center:active:before {
  left: 0;
  right: 0;
}

.short-bio {
	max-width: 35rem;
}

.snapwidget-widget {
	border:none;
	overflow:hidden;
	width:100%;
}

/*
 * Responsive
 */
@media screen and (min-width: 450px) and (max-width: 750px) {
	.img.column {
		flex: 50%;
		padding: 0 4px;
	}
}
@media screen and (max-width: 575px) {
	#contactUs-table {
		width: 100%;
		margin-left: 40px;
		padding-top: 10px!important;
	}
	#calendar iframe {
		width: 100vw;
	}
	#mission-components .card {
		width: 100%;
		margin: auto;
	}
	#visit-block {
		margin-top: 23%;
	}
}
@media screen and (min-width: 576px) {
	#mission-components .card {
		max-width: 10rem;
	}
}


@media screen and (max-width: 420px) {
	.main-title {
		padding-top: 10%!important;
	}
	#brand {
		font-size: 0.95rem;
	}
}

@media screen and (max-width: 767px) {
	.main-title{
		padding-top: 25%;
	}
	.page-footer i {
		font-size: 1.5rem;
		color: black;
	}
	.page-footer {
		font-size: .6875rem;
		line-height: 0.9rem;
	}
	.carousel-caption {
	    bottom: 0;
	}
}
@media screen and (min-width: 768px) {
	.main-title {
		padding-top: 12%;
	}
	.page-footer i {
		font-size: 1rem;
	}
	.page-footer {
		font-size: 11px;
		line-height: 0.4rem;
	}
	.img.column {
		flex: 25%;
		padding: 0 4px;
	}
	#mission-components .card {
		min-width: 30%;
		margin-left: auto;
		margin-right: auto;
	}
}
@media screen and (min-width: 768px) and (max-width: 930px) {
	.carousel-caption {
	    bottom: 15%;
	}
}
@media screen and (min-width: 931px) and (max-width: 1100px) {
	.carousel-caption {
	    bottom: 17%;
	}
}
@media screen and (min-width: 1101px) {
	.carousel-caption {
	    bottom: 33%;
	}
}
